<!DOCTYPE html>
<html lang="en">
    <html lang="eng">
    <head>
        <h1>Model Catalogue</h1>
        <h5>Scheduling Models for the Injection Molding domain</h5>
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
        <meta charset="UTF-8">
        <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    </head>
<body>

  <form method="POST" action="/">
    <div class="container">
        <div class="container-column">
            <div class="set">
                <h2>&alpha; - Machine environments</h2>
                
                <div class="checkbox-container">
                    <input type="radio" name="machine" value="https://www.iop.rwth-aachen.de/PPC/1/1/singleMachine" id="machine1">
                    <label for="machine1">Single machine (1)</label>
                </div>
                
                <div class="checkbox-container">
                    <input type="radio" name="machine" value="https://www.iop.rwth-aachen.de/PPC/1/1/parallelMachines" id="machine2">
                    <label for="machine2">Identical machines in parallel (P<sub>m</sub>)</label>
                </div>
                
                <div class="checkbox-container">
                    <input type="radio" name="machine" value="https://www.iop.rwth-aachen.de/PPC/1/1/uniformMachines" id="machine3">
                    <label for="machine3">Machines in parallel with different speeds (Q<sub>m</sub>)</label>
                </div>
                
                <div class="checkbox-container">
                    <input type="radio" name="machine" value="https://www.iop.rwth-aachen.de/PPC/1/1/unrelatedMachines" id="machine4">
                    <label for="machine4">Unrelated machines in parallel (R<sub>m</sub>)</label>
                </div>

                <div class="checkbox-container">
                    <input type="radio" name="machine" value="https://www.iop.rwth-aachen.de/PPC/1/1/flowShop" id="machine5">
                    <label for="machine5">Flow shop (F<sub>m</sub>)</label>
                </div>
            
                <div class="checkbox-container">
                    <input type="radio" name="machine" value="https://www.iop.rwth-aachen.de/PPC/1/1/flexibleFlowShop" id="machine6">
                    <label for="machine6">Flexible flow shop (FFc)</label>
                </div>
            
                <div class="checkbox-container">
                    <input type="radio" name="machine" value="https://www.iop.rwth-aachen.de/PPC/1/1/jobShop" id="machine7">
                    <label for="machine7">Job shop (J<sub>m</sub>)</label>
                </div>
            
                <div class="checkbox-container">
                    <input type="radio" name="machine" value="https://www.iop.rwth-aachen.de/PPC/1/1/flexibleJobShop" id="machine8">
                    <label for="machine8">Flexible job shop (FJ<sub>c</sub>)</label>
                </div>
            
                <div class="checkbox-container">
                    <input type="radio" name="machine" value="https://www.iop.rwth-aachen.de/PPC/1/1/openShop" id="machine9">
                    <label for="machine9">Open shop (O<sub>m</sub>)</label>
                </div>            
            </div>
        </div>
        
        <div class="container-column">
            <div class="set">
                <h3>&beta; - Scheduling constraints</h3>
                
                <div class="checkbox-container">
                    <input type="checkbox" value="https://www.iop.rwth-aachen.de/PPC/1/1/releaseDates" name="checked[]" id="job1">
                    <label for="job1">Release dates (r<sub>j</sub>)</label>
                </div>
                
                <div class="checkbox-container">
                    <input type="checkbox" value="https://www.iop.rwth-aachen.de/PPC/1/1/preemptions" name="checked[]" id="job2">
                    <label for="job2">Preemptions (prmp)</label>
                </div>
                
                <div class="checkbox-container">
                    <input type="checkbox" value="https://www.iop.rwth-aachen.de/PPC/1/1/precedence" name="checked[]" id="job3">
                    <label for="job3">Precedence constraints (prec)</label>
                </div>
                
                <div class="checkbox-container">
                    <input type="checkbox" value="https://www.iop.rwth-aachen.de/PPC/1/1/seqDepSetup" name="checked[]" id="job4">
                    <label for="job4">Sequence dependent setup times (s<sub>i,j</sub>)</label>
                </div>
                
                <div class="checkbox-container">
                    <input type="checkbox" value="https://www.iop.rwth-aachen.de/PPC/1/1/jobFamilies" name="checked[]" id="job5">
                    <label for="job5">Job families (fmls)</label>
                </div>
                
                <div class="checkbox-container">
                    <input type="checkbox" value="https://www.iop.rwth-aachen.de/PPC/1/1/batch" name="checked[]" id="job6">
                    <label for="job6">Batch processing (batch(b))</label>
                </div>
                
                <div class="checkbox-container">
                    <input type="checkbox" value="https://www.iop.rwth-aachen.de/PPC/1/1/breakdown" name="checked[]" id="job7">
                    <label for="job7">Breakdown (brkdwn)</label>
                </div>
                
                <div class="checkbox-container">
                    <input type="checkbox" value="https://www.iop.rwth-aachen.de/PPC/1/1/maschEligibility" name="checked[]" id="job8">
                    <label for="job8">Machine eligibility restrictions (M<sub>j</sub>)</label>
                </div>
                
                <div class="checkbox-container">
                    <input type="checkbox" value="https://www.iop.rwth-aachen.de/PPC/1/1/permutation" name="checked[]" id="job9">
                    <label for="job9">Permutation (prmu)</label>
                </div>
                
                <div class="checkbox-container">
                    <input type="checkbox" value="https://www.iop.rwth-aachen.de/PPC/1/1/blocking" name="checked[]" id="job10">
                    <label for="job10">Blocking (block)</label>
                </div>
                
                <div class="checkbox-container">
                    <input type="checkbox" value="https://www.iop.rwth-aachen.de/PPC/1/1/noWait" name="checked[]" id="job11">
                    <label for="job11">No-wait (nwt)</label>
                </div>
                <div class="checkbox-container">
                    <input type="checkbox" value="https://www.iop.rwth-aachen.de/PPC/1/1/recirculation" name="checked[]" id="job12">
                    <label for="job12">Recirculation (rcrc)</label>
                </div>
                </div>
              </div>
              
                    <div class="container-column">
                      <div class="set">
                          <h4>&gamma; - Objective function</h4>
                          
                          <div class="checkbox-container">
                              <input type="checkbox" value="https://www.iop.rwth-aachen.de/PPC/1/1/maxCompletionTime" name="checking[]" id="objective1">
                              <label for="objective1">Makespan (C<sub>max</sub>)</label>
                          </div>
                          
                          <div class="checkbox-container">
                              <input type="checkbox" value="https://www.iop.rwth-aachen.de/PPC/1/1/maxLateness" name="checking[]" id="objective2">
                              <label for="objective2">Maximum Lateness (L<sub>max</sub>)</label>
                          </div>
                          
                          <div class="checkbox-container">
                              <input type="checkbox" value="https://www.iop.rwth-aachen.de/PPC/1/1/weightedSumCompletionTime" name="checking[]" id="objective3">
                              <label for="objective3">Total weighted completion time (&Sigma;(w<sub>j</sub>C<sub>j</sub>))</label>
                          </div>

                          <div class="checkbox-container">
                            <input type="checkbox" value="http://www.iop.rwth-aachen.de/PPC/1/1/sumCompletionTime" name="checking[]" id="objective4">
                            <label for="objective4">Total completion time (&Sigma;C<sub>j</sub>)</label>
                          </div>

                          <div class="checkbox-container">
                            <input type="checkbox" value="https://www.iop.rwth-aachen.de/PPC/1/1/sumTardiness" name="checking[]" id="objective5">
                            <label for="objective5">Total tardiness (&Sigma;(T<sub>j</sub>))</label>
                          </div>
                          
                          <div class="checkbox-container">
                            <input type="checkbox" value="https://www.iop.rwth-aachen.de/PPC/1/1/weightedSumTardiness" name="checking[]" id="objective6">
                            <label for="objective6">Total weighted tardiness (&Sigma;(w<sub>j</sub>T<sub>j</sub>))</label>
                          </div>
                          
                          <div class="checkbox-container">
                            <input type="checkbox" value="https://www.iop.rwth-aachen.de/PPC/1/1/sumEarliness" name="checking[]" id="objective7">
                            <label for="objective7">Total earliness for each job (&Sigma;(E<sub>j</sub>))</label>
                          </div>
                    </div>
            </div> 
            
        </div>

        <div class="button-container">
            <button type="submit" class="submit-button">Submit</button>
        </div>
    </div>

</form>

<img src="{{ url_for('serve_image', filename='image.png') }}"alt="Image" class="image">

</body>
</html>