<!DOCTYPE html>

<html lang="eng">
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
        <meta charset="UTF-8">
        <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    </head>
    <body>
        <form action="/nationality" method="POST">
            <h6>Nationality Selection</h6>
            <input type="radio" name='nationality' value="EU"> EU<br>
            <input type="radio" name='nationality' value="Non-EU"> Non-EU<br>

            <input type="submit" value="Submit">
        </form>
    </body>
    </html>