<!DOCTYPE html>
<html lang="en">
<head>
    <h1>Selected Model</h1>
    <h5>Scheduling Models for the Injection Molding domain</h5>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">  
</head>
<body>
    <div class="container-column">
        <div class="container-column">
            {% for selected_model in selected_models %}
            <div class="set">
                <h6>{{ selected_model["name"] }}</h6>
                <div class="checkbox-container">
                    <input type="checkbox" name="selected_model" value="{{ selected_model["name"] }}" id="selected_model_{{ loop.index }}">
                    <label for="selected_model_{{ loop.index }}">{{ selected_model["name"] }}</label>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="button-container">
        <button onclick="openModel()">Open Model</button>
    </div>

    <pre id="output" style="display: none;"></pre>

    <script>
        function openModel() {
            var checkbox = document.querySelector("input[name='selected_model']:checked");

            if (checkbox) {
                var selectedModelName = checkbox.value;
                window.open("/model/" + selectedModelName, "_blank");
            } else {
                window.alert("No model selected");
            }
        }
    </script>
</body>
</html>
