<!-- selection.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <h1>Selected Model</h1>
    <h5>Scheduling Models for the Injection Molding domain</h5>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">  
</head>
<body>
    <div class="container-column">
        <div class="set">
            <h6>{{ selected_model["GrahamNotation"]["name"] }}</h6>
            <div class="checkbox-container">
            <input type="checkbox" name="selected_model" value="{{ selected_model["GrahamNotation"]["name"] }}" id="selected_model">
            <label for="selected_model">{{ selected_model["GrahamNotation"]["name"] }}</label>
            </div>
        </div>
    </div>
    <form id="json_form" method="POST" action="{{ url_for('get_python_file') }}">
        <input type="hidden" name="model_name" value="{{ selected_model["GrahamNotation"]["name"] }}">
        <div class="button-container">
            <input type="submit" value="Get Model" onclick="submitForm(event)" id="newSubmitButton">
        </div>
    </form>

    <pre id="output" style="display: none;"></pre>

    <script>
        function submitForm(event) {
            event.preventDefault();
            var checkbox = document.getElementById("selected_model");
    
            if (checkbox.checked) {
                var form = document.getElementById("json_form");
                var formData = new FormData(form);
    
                fetch("/get_python_file", {
                    method: "POST",
                    body: formData
                })
                .then(response => response.text())
                .then(modelName => {
                    window.open("/model/" + modelName, "_blank");
                })
                .catch(error => console.error("Error fetching Python file:", error));
            } else {
                window.alert("No model selected");
            }
        }
    </script>
    
</body>
</html>
